.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 30px;

  border: 1px solid royalblue;
  border-radius: 10px;
}

.login-form input {
  margin-bottom: 30px;
}