.message {
  position: relative;
  align-self: flex-start;
  display: flex;
  margin-bottom: 15px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.message img {
  margin-right: 20px;
}

.Message-content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  background-color: lightcyan;
  border-radius: 10px;
}

.Author {
  font-weight: bold;
}

.message time {
  align-self: flex-end;
  font-size: 14px;
}

.current-member img {
  order: 2;
  margin-right: 0;
  margin-left: 20px;
}

.current-member .Message-content {
  order: 1;
}

.current-member {
  justify-content: flex-end;
  align-self: flex-end;
  padding-right: 0;
  padding-left: 30px;
}

.message-action,
.Like-button {
  position: absolute;
  left: 70px;
  bottom: 0;
  align-self: center;
  padding: 5px 15px 5px 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: rgb(88, 139, 206);
  outline: none;
}

.current-member .edit-button {
  right: auto;
  left: 0;
}

.edit-button {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  right: 0;
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: rgb(88, 139, 206);
  cursor: pointer;

}

.current-member .message-action {
  right: 0;
  left: auto;
}

.Liked .Like-button::after {
  content: "\2714";
  position: absolute;
  top: 3px;
  width: 15px;
  height: 15px;
}