.user-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: aquamarine;
  border-radius: 10px;
}

.user-item__name {
  margin-right: 30px;
  font-weight: bold;
}