.Header {
  display: flex;
  padding: 30px;
  position: relative;
  z-index: 10;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Header div {
  margin-right: 30px;
}

.Header div:last-child {
  margin-left: auto;
  margin-right: 0;
}