.Loader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Loader::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  display: block;
  width: 50px;
  height: 50px;
  border: 5px solid rgb(172, 171, 171);
  border-left-color: transparent;
  border-radius: 50%;
  animation: load 1s infinite both;
}

@keyframes load {
  0% {
      transform: rotate(0);
  }

  100% {
      transform: rotate(360deg);
  }
}