.messageForm {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  
  width: 100%;
  padding: 20px 30px 30px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.messageForm button {
  cursor: pointer;
}

.messageForm textarea {
  flex-grow: 1;
}

.Edit-message-form {
  position: relative;
  padding: 0;
  padding-bottom: 30px;
  box-shadow: none;
}

.Edit-message-form button {
  position: absolute;
  bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: rgb(88, 139, 206);
}

.Edit-message-form button:hover {
  color: red;
}

.Edit-message-form button[type="button"] {
  left: 0;
}

.Edit-message-form button[type="submit"] {
  right: 0;
}